.grid-main-nav{
    display: grid;
    grid-gap: 10px;
    background-color: rgb(29, 29, 29);
    color: white;
}

.item-1{
    grid-column: 1;
    grid-row: 1;
    text-align: left;
}
.item-2{
    grid-column: 2;
    grid-row: 1;
    text-align: center;
    font-size: 2rem;
    color: rgb(88, 43, 23);
    padding-top: 25px;
}
.item-3{
    grid-column: 3;
    grid-row: 1;
    text-align: right;
    margin: 20px;
}
.item-4{
    grid-column: 2;
    grid-row: 2;
    text-align: center;
}
.item-5{
    grid-column: 1/ span 3;
    grid-row: 3;
    text-align: center;
}
.nav-grid{
    text-align: center;
    height: 30px;
}
.main-link{
    text-align: center;
    color: rgb(197, 194, 0);
    padding-left: 3px;
    padding-right: 3px;
}
.main-link:hover{
    text-align: center;
    color: rgb(197, 194, 0);
}
.main-link-1{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-left: 3px;
    padding-right: 3px;
}
.main-link-1:hover{
    text-align: center;
    color: rgb(255, 255, 255);
}
.nav-main{
    text-align: center;
}
.img-nav{
    width: 100%;
    height: 100%;
}
img {
    width: 100%;
    height: 100%;
}
body {
    background-color: rgb(70, 70, 70);
    color: white;
}
.p-text{
    color: rgb(197, 194, 0);
    font-size: 1.3rem;
    padding-top: 15px;
}
.img-text1{
    margin-top: 185px;
    height: 200px;
    width: 250px;
}
.img-text{
    margin-top: 25px;
    height: 200px;
    width: 250px;
}
.text-onas{
    padding-top: 20px;
}
.logo{
    color: white;
    background-color: rgb(0, 140, 255);
    width: 65px;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 5px;
    font-size: 1.5rem;
}
.icon{
    color: white;
    font-size: 1.4rem;
}
.icon:hover{
    color: rgb(201, 201, 201);
    font-size: 1.4rem;
}
.icon1{
    padding-left: 5px;
}
.blue-text{
    color:rgb(0, 102, 255);
}
.contact1{
    color: rgba(255, 230, 0, 0.637);
}
.border-last{
    padding-left: 200px;
}
.par-img{
    height: 350px;
    width: 300px;
}
.border-main{
    border-bottom: 2px solid #ffffff;
    width: 800px;
    margin: 0 auto;
    margin-bottom: 15px;
    padding-top: 25px;
    margin-left: 490px;
}
.text-main{
    color: white;
    margin-left: 490px;
}